
@font-face {
  font-family: 'PRKSROMB';
  src: url(fonts/P/PRKSROMB.TTF);
}
@font-face {
  font-family: 'PRKSROMI';
  src: url(fonts/P/PRKSROMI.TTF);
}
@font-face {
  font-family: 'PRKSROMN';
  src: url(fonts/P/PRKSROMN.TTF);
}
@font-face {
  font-family: 'PRKSROMT';
  src: url(fonts/P/PRKSROMT.TTF);
}

@font-face {
  font-family: 'sureshb';
  src: url(fonts/S/sureshb.TTF);
}
@font-face {
  font-family: 'sureshi';
  src: url(fonts/S/sureshi.TTF);
}
@font-face {
  font-family: 'sureshn';
  src: url(fonts/S/sureshn.TTF);
}
@font-face {
  font-family: 'suresht';
  src: url(fonts/S/suresht.TTF);
}